@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div id="my-react"></div>




    <link rel="stylesheet" href="https//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />



    <!-- Latest Sortable -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    
    
    <script defer="defer" src="@Url.Content("~/ReactJs/dist/index_bundle.js")" type="text/javascript"></script>
    
    

    <script>
        
    </script>

    <!--
        https://github.com/shvetsgroup/jquery.multisortable
        https://www.npmjs.com/package/react-beautiful-dnd
        https://github.com/SortableJS/Sortable/wiki/Dragging-Multiple-Items-in-Sortable#selection

    -->
    
</div>

